<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stx.xhb.enjoylife">

    <uses-sdk tools:overrideLibrary="com.android.core,com.shuyu.gsyvideoplayer" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!-- 需要添加一个权限，获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".EnjoyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/enjoylife"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PhotoViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.NewsDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.VideoDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.WallPagerActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- 友盟appid设置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57c79208e0f55ac973000327" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="wandoujia" />

    </application>

</manifest>